<h1>Create New Assignor</h1>

<% form_for(@assignor) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "edit_assignor", :locals => { :f => f } %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

