<h1>New admin</h1>

<% form_for(@admin) do |f| %>
<%= render :partial => "edit_admin", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admins_path %>
