<h1>Referee Site</h1>
<p>This is the awesome and amazing referee management and game showing site.</p>
<% if @fields.empty? then %>
    <p><em>Currently There are no fields or games setup</em></p>
<% else %>
<table>
    <% @fields.each do |field| %>
        <%= render :partial => "fields/field_display", :locals => { :field => field } %>
    <% end %>
</table>
<% end %>