This is the main page for the site.
<table>
<% if @fields.empty? then %>
    <tr>
        <td><em>Currently There are no fields or games setup</em></td>
    </tr>
<% else %>
    <% @fields.each do |field| %>
        <%= render :partial => "field/field_display", :locals => { :field => field } %>
    <% end %>
<% end %>
</table>