This is the main page for the site.
<% if @fields.empty? then %>
    <p><em>Currently There are no fields or games setup</em></p>
<% else %>
<table>
    <% @fields.each do |field| %>
        <%= render :partial => "fields/field_display", :locals => { :field => field } %>
    <% end %>
</table>
<% end %>