<p>
  <b>Name:</b>
  <%=h @age_group.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @age_group.description %>
</p>


<%= link_to 'Edit', edit_age_group_path(@age_group) %> |
<%= link_to 'Back', age_groups_path %>