<h1>Edit Referee</h1>

<% form_for(@referee) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "edit_referee", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<p>
<%= link_to 'Back', referee_path %>
</p>

