    <tr>
        <th><%= field.name %> (<%=field.url.present? ? link_to(field.address, field.url) : field.address %>)</th>
    </tr>
    <% if field.games.empty? then %>
    <tr>
        <td colspan="2"><em>No Games</em></td>
    </tr>
    <% else %>
    <tr>
        <td>
            <%= render :partial => "games/games_display", :locals => { :games => field.games } %>
        </td>
    </tr>
    <% end %>