<h1>Editing Field</h1>

<% form_for(@field) do |f| %>
  <%= render :partial => "edit_field", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @field %> |
<%= link_to 'Back', field_path %>