<h1>Listing games</h1>

<table>
<% if @fields.empty? then %>
    <tr>
        <td><em>Currently There are no fields or games setup</em></td>
    </tr>
<% else %>
    <% @fields.each do |field| %>
        <%= render :partial => "field_display", :locals => { :field => field } %>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>