<% if flash[:notice] %>
<div class="success">
    <%= flash[:notice] %>
</div>
<% elsif flash[:error] %>
<div class="error">
  <%=flash[:error] %>
</div>
  <% elsif flash[:warning] %>
  <div class="notice">
    <%=flash[:warning] %>
  </div>
<% end %>
