      <div id="header">
        <ul class="navigation round">
          <li><%= link_to "Home",    :controller => "pages",  :action => "index" %></li>
          <li><%= link_to "Referee Login", :controller => "bids", :action => "index"  %></li>
          <li><%= link_to "Assignor Login",:controller => "login", :action => "index"  %></li>
        </ul>
      </div>

